@import url("light.css") (prefers-color-scheme: light);
@import url("dark.css") (prefers-color-scheme: dark);
@import url("print.css") print;

html {
  background-color: var(--background);
  color: var(--text);
}

body {
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;
  margin-inline: auto;
}